@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model GruppArbete_Personer.Models.Person
<!DOCTYPE html>
<html>
<head>
    <title>Create Person</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <form asp-action="Create">
        <table>
            <tr>
                <td>
                    <label asp-for="Name"></label>
                </td>
                <td>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Email"></label>
                </td>
                <td>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input id="createButton" type="submit" />
                </td>
            </tr>
        </table>
    </form>

</body>
</html>